body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    width: 100%;
    position: absolute;
    top: 70%;
    text-align: center;
    color: white;
    font-family: "Avenir Next Regular";
    letter-spacing: 2px;
}

h2 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: .8em;
    color: #00FFA3;
    font-family: "Avenir Next UltraLight";
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url('AvenirNext-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next UltraLight';
    src: url('AvenirNext-UltraLight.woff');
    font-weight: normal;
    font-style: normal;
}

